
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


outputs/
notebook_outputs/
*.png
*.jpg
*.jpeg
*.weights
*.pt
*.pth
*.h5

# Jupyter Notebook
.ipynb_checkpoints
.jupyter
jupyter_execute/
jupyter_cache/

# IDE related
.idea/
.vscode/
*.swp
*.swo

# OS related
.DS_Store
Thumbs.db 